/* Resetting default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    padding-bottom: 50px; 
}

header, footer {
    background-color: #007bff;
    color: rgb(9, 3, 66);
    text-align: center;
    padding: 1rem 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header h1 {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
}

header nav a {
    margin-left: 20px;
    margin-right: 10px; 
    text-decoration: none;
}

nav a {
    color: #020842; 
    text-decoration: none; 
}

nav a:hover {
    color: #ffffff; 
}

form {
    max-width: 800PX; 
    margin: 2rem auto; 
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section form input[type="text"],
section form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #09024d;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align cards to the start of the main container */
    gap: 20px; /* Gap between cards */
    padding: 0 2rem; /* Padding on the sides */
}

.employee-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Three cards per row with gap */
    margin-bottom: 20px;
}

.employee-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-container {
    padding: 15px;
    text-align: center;
}
